@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3973d8;
  padding: 30px;
  min-height: 100vh;
}

.kontener {
  position: relative;
    max-width: 850px;
    width: 100%;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    perspective: 2800px;
    background: #fff;
  }

  .kontener .zakrywka {
    position: absolute;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: pres;
    height: 100%;
    width: 50%;
    top: 0;
    left: 50%;
    z-index: 98;
  }

  .kontener .zakrywka::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 100;
    background: #3973d8;
  }

  .kontener .zakrywka::after {
    content: "";
    position: absolute;
    background: #3973d8;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 100;
    transform: rotateY(180deg);
  }

  .kontener #flip:checked ~ .zakrywka {
    transform: rotateY(-180deg)
  }

  .kontener .zakrywka img {
    position: absolute;
    object-fit: cover;
    backface-visibility: hidden;
    z-index: 12;
    height: 100%;
    width: 100%;
  }



  .kontener form{
    height: 100%;
    width: 100%;
    background-color: #fff;
  }

  .kontener .zawform {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .zawform .logowanie, 
  .zawform .rejestracja {
    width: calc(100% / 2 - 25px);
    
  }

  form .zawform .tytul {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }

  form .zawform .tytul:before {
    content:"" ;
    left: 0;
    bottom: 0;
    position: absolute;
    height: 3px;
    width: 25px;
    background: #3973d8 ;
  }

  form .rejestracja .tytul:before {
    width: 20px;
  }

  form .zawform .input-boxes{
    margin-top: 30px;
  }

  form .zawform .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
    
  }

  .zawform .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: all 0.3s ease;    

  }

  .zawform .input-box input:focus,
  .zawform .input-box input:valid {
    border-color:#3973d8 ;
  }

  .zawform .input-box i {
    position: absolute;
    font-size: 17px;
    color:#3973d8 ;

  }
  form .zawform text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }


  form .zawform .button {
    margin-top: 40px;
    color: #ffff;
  }

  form .zawform .button input {
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4 ease;
    background:#3973d8;
  }

  form .zawform .button input:hover {
    background: #1e4385;

  }
  
  form .zawform label {
    color: #3973d8;
    cursor: pointer;
  }

  form .zawform label:hover {
    text-decoration: underline;
  }

  form .zawform .login-text,
  form .zawform .signup-text {
    text-align: center;
    margin-top: 25px;
  }

  .kontener #flip {
    display: none;
  }

  @media (max-width: 730px) {
    .kontener .zakrywka {
      display: none;
    }
    .zawform .logowanie, 
  .zawform .rejestracja {
    width: 100%;
  }
  .zawform .rejestracja {
    display: none;
  }
  .kontener #flip:checked ~ form .rejestracja {
    display: block;
  }
  .kontener #flip:checked ~ form .logowanie {
    display: none;
  }
     
  }




