* {
    margin: 0;
    padding: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
}
body {
    overflow: hidden;
}
.baner {
    width: 100%;
    height: 15vh;
    background-color: #2367dd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 12vh;
    margin-right: 1%;
}
.baner > p {
    color: white;
    font-size: 5vh;
}

.navv {
    width: 100%;
    height: 7vh;
    background-color: #387cf0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.nav {
    margin: auto;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#glpost > button {
    width: 20vh;
    margin: auto;
    outline: none;
    border: none;
    background-color: #387cf0;
    padding: 1vh 10px;
    border-radius: 6px;
    transition-duration: 0.4s;
    margin-top: 3vh;
}
#glpost > button:hover {
    background-color: #2367dd;
    color: white;
}
.formularz > button {
    width: 20vh;
    margin: auto;
    outline: none;
    border: none;
    background-color: #387cf0;
    padding: 1vh 10px;
    border-radius: 6px;
    transition-duration: 0.4s;
    margin-top: 3vh;
}
.formularz > button:hover {
    background-color: #2367dd;
    color: white;
}

.glowna {
    width: 100%;
    height: 78vh;

}
.kontent {
    margin: auto;
    width: 60%;
    height: 100%;
    min-width: 500px;
    text-align: center;
}
.kontent > form {
    margin-top: 5vh;
    font-size: larger;
}
.kontent > p {
    padding: 5vh 33%;
}
.kontent > img {
    padding: 5vh 33%;
    width: 34%;
}
#podstrona, #podstrona1 {
    background-color: #2367dd;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 22vh;
    height: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    text-align: center;
    overflow: hidden;
}
#podstrona > a {
    color: white;
    position:relative;
    text-decoration: none;
    font-size: 3vh;
    display: inline-block;
    transition: 0.3s;
    padding-inline: 20px;
    cursor: pointer;
}
#podstrona1 > a {
    color: white;
    position:relative;
    text-decoration: none;
    font-size: 3vh;
    display: inline-block;
    transition: 0.3s;
    padding-inline: 20px;
    cursor: pointer;
}
.nav > p {
    font-size: 3vh;
    color: white;
    display: block;
    transition: 0.3s;
    padding-inline: 5px;
    cursor: pointer;
}
.nav > img {
    height: 3vh;
    width: 3vh;
    margin-left: 3vh;
    margin-right: 3vh;
    cursor: pointer;
}
.nav > p:hover {
    transition: 0.1s;
    color: #DECD87;
}
#podstrona > a:hover {
    transition: 0.1s;
    color: #DECD87;
}
#podstrona1 > a:hover {
    transition: 0.1s;
    color: #DECD87;
}
.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}
.main {
    margin-top: 50px;
    text-align: center;
}
.kontent > a {
    text-decoration: none;
    font-size: larger;
}
.formularz {
    font-size: 150%
}
.formularz > input {
    height: 2vh;
}